<h1>Passphrase #<%= @passphrase.id %></h1>

<div>
  <strong>Words</strong>:<br />
  <p><%= @passphrase.words %></p>
</div>
<div>
  <strong>Security</strong>:<br />
  <p><%= @passphrase.security %></p>
</div>
<div>
  <strong>Word type</strong>:<br />
  <p><%= @passphrase.word_type %></p>
</div>

<a href="/passphrases/<%= @passphrase.id %>/edit">Edit</a> |
<a href="/passphrases/<%= @passphrase.id %>/destroy">Destroy</a>
