<h1>Password #<%= @password_page.id %></h1>

<div>
  <strong>number of characters</strong>:<br />
  <p><%= @password_page.c_num %></p>
</div>
<div>
  <strong>security</strong>:<br />
  <p><%= @password_page.security %></p>
</div>
<div>
  <strong>password</strong>:<br />
  <p><%= @password_page.comment %></p>
</div>

<a href="/password_pages/<%= @password_page.id %>/edit">Edit</a> |
<a href="/password_pages/<%= @password_page.id %>/destroy">Destroy</a>
